body {
    margin: 0;
    background-color: #e8eddf;
}

.dark-mode {
    background-color: #161516;
}

#create-task-form {
    margin: auto;
}

.row {
    text-align: center;
}

li {
    cursor: pointer;
    list-style-type: none!important;
}

.li-dark {
    background-color: #6e696e
}

.item {
    margin-bottom: 7%!important;
    background-color: #cfdbd5!important;
}
.item:hover {
    border: 2px solid black !important;
}

.deleteBtn:hover {
    background-color: #88292f;
}

.widget-dark2 {
    background-color:#5e8c61;
    border-color: none!important;
}

.widget-dark2:hover {
    background-color: #4e6151;
}

.widget-light {
    background-color: transparent;
    border: none;
}

h1, 
h3 {
    font-family: 'Bungee', cursive;
}

h1 {
    font-size: 60px;
}

h5, 
h6 {
    font-family: 'Sawarabi Mincho', serif;
}

h6 {
    font-size: 25px;
}

p {
    font-weight: bolder;
    font-size:24px;
    font-family: 'Smooch Sans', sans-serif;
}

.border {
    border: 1px solid black!important;
    border-radius: 3%;
}

.yellow-div {
    background-color:#e6b42d;
}

.green-div {
    background-color:#5e8c61;
}

.red-div {
    background-color:#a53d44
}

.task-man-dark {
    color:white;
}

#add-btn {
    background-color: #345995;
}

#add-btn:hover {
    background-color: #43A4CE;
}

.bg-dark {
    color: white;
}